#ifplcontainer {
	border: 0 solid #999;
	color: #cecece;
	text-align: center;
	text-shadow: 0 1px 1px black;
}

#ifplcontainer div {
	margin: 3px 0 0 0;
	padding: 0;
	line-height: 1.0em;
}

#ifplcontainer label {
}

#ifplcontainer p {
	display:none;
	background: none repeat scroll 0 0 #fff;
	margin: 5px 0 0 0;
	font-size:0.9em;
}

#ifplcontainer p {
	border-radius: 4px;
	color: #990000;
	padding: 5px;
	text-shadow: none;
}