#ifplcontainer {
	border: 0 solid #999;
	text-align: center;
}

#ifplcontainer div {
	margin: 3px 0 0 0;
	padding: 0;
	line-height: 1.0em;
}

#ifplcontainer label {
}

#bottomline {
	display: none;
}

#login-form #message {
	padding: 5px 25px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#login-bottomline  {
	display:none;
}

.hline {
	display: none;
}
