body {
	background: transparent;
	color: #333 !important;
	font-family: "Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
	font-size: .9375rem;
	/* background: url(paul-morris-116514.jpg) no-repeat center center fixed; */
	background-size: cover;
}

#login-form #logo {
	margin: 0px;
}
#bottomline {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 25px;
	color: white;
	text-align: right;
	width: calc(100% - 15px);
	padding-right: 15px;
	padding-top: 2px;
	background: rgba(0, 0, 0, 0.6);
	right: 0;
	display: block;
}
#login-form p.formbuttons {
	margin-top: 0;
	text-align: center;
	padding: 0 30px;
}
td.title {
	display: none;
}
img {
	vertical-align: middle;
	padding-right: 10px;
	float: left;
	margin: 10px 10px 0 30px !important;
}
#plhint {
	padding: 0 30px 10px 30px;
	margin: -10px 0;
	font-size: 0.8em;
	height: 40px;
}
.hline {
	position: relative;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
	display: block;
	float: left;
	margin-top: 13px;
}
#message-objects div.notice {
	color: white !important;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#login-form form table {
	width: 100% !important;
	border-spacing: 0;
}
input.button {
	background-color: #0067b8 !important;
	color: #fff !important;
	border-radius: 0 !important;
	font-weight: normal;
	width: 100%;
	border: 0;
	box-shadow: unset !important;
	position: relative;
	top: -10px;
	margin: 0;
}
input[type="text"], input[type="password"] {
	border-radius: 0;
	width: 100% !important;
	padding: 6px 10px;
	box-sizing: border-box;
}
#login-form td.input {
	width: 100%;
	padding: 6px 30px;
}
#login-form {
	width: calc(100% - 40px) !important;
}
.box-inner {
	background: rgba(255, 255, 255, 0.6) !important;
	border-radius: 0 !important;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.50);
	min-width: 320px;
	max-width: 400px;
	margin-left: auto !important;
	margin-right: auto !important;
	width: unset !important;
	padding: 0 !important;
}
td.title {
	color: #333 !important;
}

#ifplcontainer label {
	color: #333;
	font-size: 14px;
}
#login-form input.button:hover {
	background: #005da6 !important;
}

#ifplcontainer p {
	color: #FF0000;
}
#ifplcontainer {
	text-align: left;
	margin-bottom: 16px;
}